<div *ngIf="total > 0" class="flex justify-center border border-gray-100 py-3 rounded-2xl  shadow-lg">
  <div class="text-sm font-bold  text-blue-800 flex flex-wrap justify-center">
    <div class="flex flex-wrap justify-center duration-300 transition-all">
      <a *ngFor="let page of listOfPageItem" class="text-center duration-300 transition-all py-1 px-2.5 text-sm font-medium leading-normal"
         (click)="onPageIndexChange(page.type == 'prev' ? pageIndex - 1 : (page.type == 'next' ? pageIndex + 1 : page.index)); $event.preventDefault();"
         [ngClass]="{'text-blue-700 hover:text-blue-500': pageIndex != page.index, 'bg-blue-500 rounded-full text-white hover:text-white': pageIndex == page.index, 'pointer-events-none': page.disabled || ['next_5', 'prev_5'].includes(page.type)}">
        <i *ngIf="page.type == 'prev'" class="las la-angle-left text-sm"></i>
        <i *ngIf="page.type == 'next'" class="las la-angle-right text-sm"></i>
        <span *ngIf="page.type == 'page'">{{page.index}}</span>
        <span *ngIf="page.type == 'prev_5'">...</span>
        <span *ngIf="page.type == 'next_5'">...</span>
      </a>
    </div>
  </div>
</div>
