<section class="bg-gray-100">
    <div class="container mx-auto px-5 relative -top-28 sm:-top-48 lg:-top-72">
        <div class="">
            <img src="/assets/images/layout-info/our-events/ourevents.png" alt="">
            <img src="/assets/images/layout-info/our-events/banner.png" alt="">
        </div>
        <div class="mt-10 grid grid-cols-2 gap-10">
            <div class="">
                <h1>FILTER BY TIME</h1>
                <Select class="w-full px-5 py-3">
                    <option value="Upcoming events">Upcoming events</option>
                    <option value="">Upcoming events</option>
                </Select>
            </div>
            <div class="">
                <h1>FILTER BY TIME</h1>
                <Select class="w-full px-5 py-3">
                    <option value="">Investment form</option>
                    <option value="">Investment form</option>
                </Select>
            </div>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-10">
            <div class="bg-white py-10 px-6">
                <img src="/assets/images/layout-info/our-events/sk.png" alt="">
                <h1 class=" font-semibold mt-10">SK Investment Events Talk Show 2022</h1>
                <div class="flex space-x-2 border-b mt-6 mb-2">
                    <img src="/assets/images/layout-info/our-events/clock.svg" alt="">
                    <p class="text-sm">19:30 19/12/2021</p>
                </div>
                <div class="flex space-x-2 mt-2">
                    <img src="/assets/images/layout-info/our-events/local.svg" alt="">
                    <p class="text-sm">T12, 11 Duy Tan, CMC Tower, Cau Giay, Ha Noi</p>
                </div>
                <p class="mt-14">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel commodo dui id integer auctor porttitor arcu, 
                    sed ut. Vel, amet, turpis ultrices urna mauris tincidunt. Fermentum augue pharetra posuere pellentesque maecenas 
                    donec tincidunt molestie. Est, auctor mi sagittis orci, scelerisque ante in sed habitasse.
                </p>
                <button class="text-white text-lg bg-red-700 px-16 py-3 mt-10">Register Now</button>
            </div>
            <div class="bg-white py-10 px-6">
                <img src="/assets/images/layout-info/our-events/sk.png" alt="">
                <h1 class=" font-semibold mt-10">SK Investment Events Talk Show 2022</h1>
                <div class="flex space-x-2 border-b mt-6 mb-2">
                    <img src="/assets/images/layout-info/our-events/clock.svg" alt="">
                    <p class="text-sm">19:30 19/12/2021</p>
                </div>
                <div class="flex space-x-2 mt-2">
                    <img src="/assets/images/layout-info/our-events/local.svg" alt="">
                    <p class="text-sm">T12, 11 Duy Tan, CMC Tower, Cau Giay, Ha Noi</p>
                </div>
                <p class="mt-14">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel commodo dui id integer auctor porttitor arcu, 
                    sed ut. Vel, amet, turpis ultrices urna mauris tincidunt. Fermentum augue pharetra posuere pellentesque maecenas 
                    donec tincidunt molestie. Est, auctor mi sagittis orci, scelerisque ante in sed habitasse.
                </p>
                <button class="text-white text-lg bg-red-700 px-16 py-3 mt-10">Register Now</button>
            </div>
            <div class="bg-white py-10 px-6">
                <img src="/assets/images/layout-info/our-events/sk.png" alt="">
                <h1 class=" font-semibold mt-10">SK Investment Events Talk Show 2022</h1>
                <div class="flex space-x-2 border-b mt-6 mb-2">
                    <img src="/assets/images/layout-info/our-events/clock.svg" alt="">
                    <p class="text-sm">19:30 19/12/2021</p>
                </div>
                <div class="flex space-x-2 mt-2">
                    <img src="/assets/images/layout-info/our-events/local.svg" alt="">
                    <p class="text-sm">T12, 11 Duy Tan, CMC Tower, Cau Giay, Ha Noi</p>
                </div>
                <p class="mt-14">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel commodo dui id integer auctor porttitor arcu, 
                    sed ut. Vel, amet, turpis ultrices urna mauris tincidunt. Fermentum augue pharetra posuere pellentesque maecenas 
                    donec tincidunt molestie. Est, auctor mi sagittis orci, scelerisque ante in sed habitasse.
                </p>
                <button class="text-white text-lg bg-red-700 px-16 py-3 mt-10">Register Now</button>
            </div>
        </div>
    </div>
    <div class="-mt-30">
        <img class="w-full" src="/assets/images/layout-info/our-events/map.svg" alt="">
    </div>
    <!-- <div class="container mx-auto px-40 relative -top-20">
        <div class="grid grid-cols-1 lg:grid-cols-2">
            <div class="bg-red-700 px-8 py-12">
                <h1 class="text-lg font-semibold text-white">SK Investment Events Talk Show 2022</h1>
                <div class="flex text-white border-b mt-5">
                    <i class="las la-history"></i>
                    <p>19:30 19/12/2021</p>
                </div>
                <div class="flex text-white">
                    <i class="las la-map-marker"></i>
                    <p>T12 , 11 Duy Tan , CMC Tower, Cau Giay, Ha Noi</p>
                </div>
            </div>
        </div>
    </div> -->
    
</section>
<section>
    <div class="container mx-auto mt-10 px-5 sm:px-20">
        <div class="text-gray-500 text-center">
            <h1 class="font-bold text-4xl sm:text-5xl">Register for the event</h1>
            <p class="sm:text-lg">Thank you for your interest. Please fill out the form below to inquire about our work.</p>
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-10">
            <div>
                <h1 class="text-lg font-bold">Name <b class="text-red-700" >*</b> </h1>
                <input class="w-full py-2 bg-gray-100" type="text">
            </div>
            <div>
                <h1 class="text-lg font-bold">Phone <b class="text-red-700" >*</b> </h1>
                <input class="w-full py-2 bg-gray-100 " type="text">
            </div>
            <div>
                <h1 class="text-lg font-bold">Email <b class="text-red-700" >*</b> </h1>
                <input class="w-full py-2 bg-gray-100" type="text">
            </div>
            <div>
                <h1 class="text-lg font-bold">Address</h1>
                <input class="w-full py-2 bg-gray-100" type="text">
            </div>
        </div>
        <div class="mt-8">
            <h1 class="text-lg font-bold">Require</h1>
            <input class="w-full py-8 bg-gray-100" type="text" name="" id="">
        </div>
    </div>
    
</section>
