<!-- start slider -->
<section class=" -mt-[32rem] relative">
  <div class="bg-[url('/assets/images/layout-info/home/banner-header.svg')] bg-cover bg-no-repeat border-b-4 h-[1000px] border-solid border-b-red-500 ">
    <div class="container mx-auto px-5 py-32">
      <div></div>
            <div class="grid grid-cols-2">
                <div class="mt-44">
                    <img src="/assets/images/layout-info/home/banner-header-02.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[url('/assets/images/layout-info/home/banner-main.png')] bg-cover bg-no-repeat pb-16">
        <div class="container mx-auto px-5">
            <div class="py-10">
                <h1 class="text-gray-600 text-5xl font-semibold text-center">Our Platforms - Products</h1>
            </div>
            <div class="grid lg:grid-cols-2 lg:space-x-5">
                <div class=" bg-[url('/assets/images/layout-info/home/bg-mmatch.png')] ">
                    <div class="px-12 mt-16 ">
                        <div class="flex">
                            <div>
                                <img src="/assets/images/layout-info/home/m-black.svg" alt="">
                            </div>
                            <div class="">
                                <h1 class="text-white text-4xl font-semibold pt-1.5">Match</h1>
                            </div>
                        </div>
                        <div class="">
                            <img src="/assets/images/layout-info/home/top-white.svg" alt="">
                        </div>
                        <div class="text-white text-lg font-bold py-5">
                            <p class="">
                                MMATCH is a premium feature of the INMERGERS platform that allows businesses, investors, and contractors to
                                upload resumes based on business fields and legal locations. If the business and the contractor meet their needs,
                                the system will automatically "match"
                                and the two parties can exchange directly on INMERGERS. This makes raising capital fast, easy, and convenient.
                            </p>
                        </div>
                    </div>
                    <div class="w-full">
                        <img class="w-full" src="/assets/images/layout-info/home/coin.jpg" alt="">
                    </div>
                </div>
                <div class="bg-black bg-opacity-70 text-white px-12 mt-10 lg:mt-0">
                    <div class="flex mt-16">
                        <img src="/assets/images/layout-info/home/m.svg" alt="">
                        <h1 class="text-4xl font-semibold text-white pt-1.5">Fund</h1>
                    </div>
                    <div class="">
                        <img src="/assets/images/layout-info/home/top-red.svg" alt="">
                    </div>
                    <div class="text-lg font-bold pt-5">
                        <p>
                            MFUND is a technology to process transactions and deals entirely on the Blockchain platform. With the desire
                            to eliminate the paperwork of contracts and help investors and businesses significantly reduce transaction
                            costs and increase the efficiency and speed of negotiations, MFUND enables the tokenization of assets and
                            shares of enterprises immediately without intermediate stitches.
                        </p>
                    </div>
                    <button class="bg-red-600 py-3 px-10 mt-12 mb-10 lg:mb-0 text-white">READ MORE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-5">
        <div class="text-center">
            <h1 class="text-gray-600 text-5xl font-bold py-10">Why Partner With Us</h1>
            <p class="text-xl text-gray-800 lg:px-28 font-light text-justify md:text-center">
                Thanks to the publicity of the fundraising campaign and the number of investors, companies enjoy
                a long-lasting marketing effect, with hundreds of investors bringing more than just their money: they bring their network,
                their expertise and their ongoing support, and often transform into brand ambassadors.
            </p>
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 pt-10">
            <div class="w-full">
                <div class="flex items-center justify-center">
                    <img src="/assets/images/layout-info/home/Rectangle.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Ellipse.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Frame.png" alt="">
                </div>
                <h1 class="text-xl md:text-2xl text-[#58595B] text-center font-bold pt-5">+ 10 strategic partners all over the worlds</h1>
            </div>
            <div>
                <div class="flex items-center justify-center">
                    <img src="/assets/images/layout-info/home/Rectangle.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Ellipse.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Frame-02.png" alt="">
                </div>
                <h1 class="text-xl md:text-2xl text-[#58595B] text-center font-bold  pt-5 lg:pt-10">+ 1000 customers</h1>
            </div>
            <div>
                <div class="flex items-center justify-center">
                    <img src="/assets/images/layout-info/home/Rectangle.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Ellipse.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Frame-03.png" alt="">
                </div>
                <h1 class="text-xl md:text-2xl text-[#58595B] text-center font-bold pt-5 lg:pt-10">Experienced Teams</h1>
            </div>
            <div class="">
                <div class="flex items-center justify-center w-full">
                    <img class="" src="/assets/images/layout-info/home/Rectangle.png" alt="">
                    <img class=" absolute" src="/assets/images/layout-info/home/Ellipse.png" alt="">
                    <img class="absolute" src="/assets/images/layout-info/home/Frame-04.png" alt="">
                </div>
                <h1 class="text-xl md:text-2xl text-[#58595B] text-center font-bold pt-5 lg:pt-10">Technology</h1>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 mt-16">
        <div class="container mx-auto px-5">
            <h1 class="text-4xl sm:text-5xl text-center text-gray-600 font-bold pt-16">Our Global Footprint</h1>
            <p class="text-2xl text-center font-normal mt-6">Market that INMERGERS initially deployed and aims to expand in the future</p>
            <img src="/assets/images/layout-info/home/map.svg">
        </div>
    </div>
    <div class="bg-[url('/assets/images/layout-info/home/global.png')] bg-cover bg-center bg-no-repeat bg-opacity-20">
        <div class="container mx-auto px-5">
            <h1 class="text-5xl text-center font-bold pt-20 text-gray-600">Our Partners</h1>
            <p class="text-xl font-normal text-center text-gray-800 pt-8">
                The best venture capital firms, family offices and hight net worth
                individuals already invest in Republic companies
            </p>
            <div class="flex justify-center pt-8">
                <select class="w-3/4 sm:w-1/2 lg:w-1/3 py-3 px-3 border-2 rounded-md" name="" id="">
                    <option value="">VietNam</option>
                    <option value="">England</option>
                    <option value="">Nga</option>
                    <option value="">Ukraina</option>
                </select>
            </div>
            <div class="grid grid-rows-2 gap-5 py-10">
                <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/cnn.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/bloomberg.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/coindesk.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/venture.jpg" alt="">
                    </div>
                </div>
                <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/yahoo.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/msnbc.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/forbes.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/fastcompany.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="flex justify-center space-x-3">
                <img src="/assets/images/layout-info/home/button-left.svg" alt="">
                <img src="/assets/images/layout-info/home/button-right.svg" alt="">
            </div>
            <div class="mt-20">
                <h1 class="text-5xl text-center font-bold text-gray-600">We are featured in</h1>
            </div>
            <div class="grid grid-rows-2 gap-5 py-10">
                <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/cnn.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/bloomberg.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/coindesk.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/venture.jpg" alt="">
                    </div>
                </div>
                <div class="grid grid-cols-2 lg:grid-cols-4 gap-5">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/yahoo.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/msnbc.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/forbes.jpg" alt="">
                    </div>
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/home/fastcompany.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="flex justify-center space-x-3">
                <img src="/assets/images/layout-info/home/button-left.svg" alt="">
                <img src="/assets/images/layout-info/home/button-right.svg" alt="">
            </div>
        </div>
    </div>
    <div class="bg-gray-600 mt-5 py-10">
        <h1 class="text-4xl sm:text-5xl text-center font-bold mt-10 text-white">Become Our Partner</h1>
        <div class="bg-[url('/assets/images/layout-info/home/phaohoa.svg')] px-10 bg-center bg-no-repeat">
            <div class="container mx-auto px-5 py-10 text-2xl font-light">
                <div class="grid grid-rows-6 lg:grid-rows-4 text-white gap-10 lg:gap-12 mt-8" >
                    <div class="lg:grid lg:grid-cols-2 ">
                        <div class="flex">
                            <p>Your full name</p>
                            <p class="text-red-900">*</p>
                        </div>
                        <div class="hidden lg:block" >
                            <p>Country</p>
                        </div>
                    </div>
                    <div class="lg:hidden">
                        <p>Country</p>
                    </div>
                    <div>
                        <p>Email</p>
                    </div>
                    <div>
                        <p>Message to us</p>
                    </div>
                    <div class="grid md:grid-cols-2 gap-3">
                        <div>
                            <p>Receive our brochures & special documents ?</p>
                        </div>
                        <div class="hidden md:block">
                            <form action="" class="space-x-3  flex">
                                <input class="accent-red-700" type="radio" name="fav-language" value="Yes">
                                <label class="pr-10" for="Yes">Yes</label>
                                <input class="accent-red-700" name="fav-language" type="radio" value="No">
                                <label for="No">No</label>
                            </form>
                        </div>
                    </div>
                    <div class="md:hidden">
                        <form action="" class="space-x-3  flex">
                            <input type="radio" name="fav-language" value="Yes">
                            <label class="pr-10" for="Yes">Yes</label>
                            <input class="bg-red-500" name="fav-language" type="radio" value="No">
                            <label for="No">No</label>
                        </form>
                    </div>
                </div>
                <div class="flex justify-center mt-8 text-base">
                    <button class="px-10 py-3 lg:px-12 font-bold text-white bg-red-600">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-5 mx-auto mt-6">
        <div>
            <h1 class="text-5xl font-bold text-center py-20 text-[#58595B]">News & Events</h1>
        </div>
        <div class="grid md:grid-rows-2 gap-14">
            <div class="grid lg:grid-cols-2 gap-8">
                <div class="space-y-3 grid justify-center">
                    <img src="/assets/images/layout-info/home/house-02.jpg" alt="">
                    <p>28 April, 2021</p>
                    <h1 class="text-2xl font-semibold text-gray-600">Sale of 2 mixed-use rental buildings - Geneva</h1>
                </div>
                <div class="space-y-3 grid justify-center">
                    <img src="/assets/images/layout-info/home/100usd.jpg" alt="">
                    <p>28 April, 2021</p>
                    <h1 class="text-2xl font-semibold text-gray-600">Sale of 2 mixed-use rental buildings - Geneva</h1>
                </div>
            </div>
            <div class="grid lg:grid-cols-2 gap-8">
                <div class="space-y-3 grid justify-center">
                    <img src="/assets/images/layout-info/home/wall.jpg" alt="">
                    <p>28 April, 2021</p>
                    <h1 class="text-2xl font-semibold text-gray-600">Sale of 2 mixed-use rental buildings - Geneva</h1>
                </div>
                <div class="space-y-3 grid justify-center">
                    <img src="/assets/images/layout-info/home/toanha.jpg" alt="">
                    <p>28 April, 2021</p>
                    <h1 class="text-2xl font-semibold text-gray-600">Sale of 2 mixed-use rental buildings - Geneva</h1>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-20">
            <button class="py-4 px-12 font-bold text-white bg-red-600">READ MORE</button>
        </div>
    </div>
</section>


