<section>
    <div class="container mx-auto px-5 relative -top-28 sm:-top-48 lg:-top-64">
        <img class="w-2/5" src="/assets/images/layout-info/about-us/aboutus.png" alt="">
        <img class="mt-5" src="/assets/images/layout-info/about-us/banner-aboutus.png" alt="">
        <div class="flex justify-center mt-14">
            <img src="/assets/images/layout-info/about-us/top.svg" alt="">
        </div>
        <h1 class="text-center text-2xl sm:text-3xl lg:text-5xl font-bold mt-3 lg:px-16 xl:px-20 text-gray-600">INMERGERS – INNOVATIVE PLATFORM FOR INTERNATIONAL INVESTMENT</h1>
        <div class="text-center mt-16 lg:mt-32 space-y-5">
            <h1 class="text-red-600 text-4xl lg:text-5xl font-bold">Why INMERGERS?</h1>
            <h1 class="font-bold text-gray-700 text-3xl">Quickly, securely and optimally</h1>
            <p class="font-normal text-xl text-gray-700 lg:px-16">
                Reduce costs and time to find partners by up to 10 times compared to traditional methods.
                An effective international technology platform across 4 countries and more
            </p>
        </div>
        <div class="mt-10 flex space-x-7">
            <div class="mt-8 space-y-7">
                <img src="/assets/images/layout-info/about-us/100usd.png" alt="">
                <img src="/assets/images/layout-info/about-us/magazine.png" alt="">
            </div>
            <div class="space-y-7">
                <img src="/assets/images/layout-info/about-us/laban02.png" alt="">
                <div class="grid grid-cols-3 space-x-4">
                    <div>
                        <img src="/assets/images/layout-info/about-us/alexandra.png" alt="">
                    </div>
                    <div class="col-span-2">
                        <img src="/assets/images/layout-info/about-us/patrick-weissenberger.png" alt="">
                    </div>
                </div>
            </div>
            <div class="mt-8">
                <img src="/assets/images/layout-info/about-us/bernard-herman.png" alt="">
            </div>
        </div>
        <div class="mt-20 text-center">
            <p class="text-lg text-gray-600 mb-8 lg:px-16">
                “After more than 10 years working in the field of investment consulting and M&A consulting for both domestic
                and foreign businesses, we realize that there are many problems of customers that the market cannot completely solve.
                In particular, approaching suitable projects and partners is always a big challenge”.
            </p>
            <i class="mt-8 text-lg text-gray-600">That is the reason INMERGERS was created.</i>
        </div>
        <div class="grid grid-rows-2 gap-10 mt-20">
            <div class="grid md:grid-cols-2 gap-8">
                <div class="grid items-center">
                    <div>
                        <img src="/assets/images/layout-info/about-us/top.svg" alt="">
                        <h1 class="text-red-600 font-bold text-5xl py-3 mt-3 ">Mission</h1>
                        <p class="text-lg">Global Intergation</p>
                        <p class="text-lg">Synergy for business development</p>
                    </div>
                </div>
                <div>
                    <img src="/assets/images/layout-info/about-us/toanha-02.png" alt="">
                </div>
            </div>
            <div class="grid md:grid-cols-2 gap-8">
                <div class="md:hidden grid items-center">
                    <div>
                        <img src="/assets/images/layout-info/about-us/top.svg" alt="">
                        <h1 class="text-red-600 font-bold text-5xl mt-3 py-3 ">Vision</h1>
                        <p class="text-lg">Enhance global prosperity with crossborder business transaction</p>
                    </div>
                </div>
                <div>
                    <img src="/assets/images/layout-info/about-us/it.jpg" alt="">
                </div>
                <div class="hidden md:grid items-center">
                    <div>
                        <img src="/assets/images/layout-info/about-us/top.svg" alt="">
                        <h1 class="text-red-600 font-bold text-5xl mt-3 py-3 ">Vision</h1>
                        <p class="text-lg">Enhance global prosperity with crossborder business transaction</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center">
        <img src="/assets/images/layout-info/about-us/global-03.png" alt="">
    </div>
    <div class="container mx-auto px-5">
        <h1 class="text-5xl font-bold text-center text-red-600">INMERGERS Management team</h1>
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-6 mt-10">
            <div class="space-y-3 ">
                <img class="shadow-md rounded-md w-full" src="/assets/images/layout-info/about-us/nguyenthiphuongthao.png" alt="">
                <h1 class="text-lg font-bold text-center text-red-600">FOUNDER & CEO</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">NGUYEN THI PHUONG THAO</h1>
            </div>
            <div class="space-y-3">
                <img src="/assets/images/layout-info/about-us/ngothithanhhai.png" class="shadow-md rounded-md w-full" alt="">
                <h1 class="text-lg font-bold text-center text-red-600">FOUNDER & COO</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">NGO THI THANH HAI</h1>
            </div>
            <div class="space-y-3">
                <img class="shadow-md rounded-md w-full" src="/assets/images/layout-info/about-us/hoanganhdai.png" alt="">
                <h1 class="text-lg font-bold text-center text-red-600">FOUNDER & CTO</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">HOANG ANH DAI</h1>
            </div>
            <div class="space-y-3">
                <img class="shadow-md rounded-md w-full" src="/assets/images/layout-info/about-us/nguyenductinh.png" alt="">
                <h1 class="text-lg font-bold text-center text-red-600">FOUNDER & LEGAL ADVISOR</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">NGUYEN DUC TINH</h1>
            </div>
        </div>
        <div class="grid grid-cols-2 lg:grid-cols-8 gap-6 mt-10">
            <div class="hidden lg:flex"></div>
            <div class="lg:col-span-2">
                <img class="shadow-md rounded-md w-full" src="/assets/images/layout-info/about-us/nguyentienduc.png" alt="">
                <h1 class="text-lg font-bold text-center text-red-600">FOUNDER & CIO</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">NGUYEN TIEN DUC</h1>
            </div>
            <div class="lg:col-span-2">
                <img class="shadow-md rounded-md w-full" src="/assets/images/layout-info/about-us/phamminhtoan.png" alt="">
                <h1 class="text-lg font-bold text-center text-red-600">CO-FOUNDER & CMO</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">PHAM MINH TOAN</h1>
            </div>
            <div class="lg:col-span-2">
                <img class="shadow-md rounded-md w-full" src="/assets/images/layout-info/about-us/leunghoa.png" alt="">
                <h1 class="text-lg font-bold text-center text-red-700">DIRECTOR OF SYSTEM & MARKETING TECHNOLOGY</h1>
                <h1 class="text-lg font-bold text-center text-gray-700">LE UNG HOA</h1>
            </div>
            <div class=""></div>
        </div>
        <div class="mt-24">
            <h1 class="text-5xl text-center text-red-600 font-bold">Sales Kit & Brochure</h1>
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-14">
                <div class="bg-gray-100 pt-10 pb-5 border-b-4 border-b-red-600">
                    <p class="text-center">Sale Kit & Brochure 2019</p>
                    <div class="flex justify-center pt-3">
                        <img src="/assets/images/layout-info/about-us/download.png" alt="">
                    </div>
                </div>
                <div class="bg-gray-100 pt-10 pb-5 border-b-4 border-b-red-600">
                    <p class="text-center">Sale Kit & Brochure 2020</p>
                    <div class="flex justify-center pt-3">
                        <img src="/assets/images/layout-info/about-us/download.png" alt="">
                    </div>
                </div>
                <div class="bg-gray-100 pt-10 pb-5 border-b-4 border-b-red-600 w-full">
                    <p class="text-center">Sale Kit & Brochure 2021</p>
                    <div class="flex justify-center pt-3">
                        <img src="/assets/images/layout-info/about-us/download.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-24">
            <h1 class="text-5xl text-center text-red-600 font-bold">Annual Reports</h1>
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-14">
                <div class="bg-gray-100 pt-10 pb-5 border-b-4 border-b-red-600">
                    <p class="text-center">Annual Reports Investment 2019</p>
                    <div class="flex justify-center pt-3">
                        <img src="/assets/images/layout-info/about-us/download.png" alt="">
                    </div>
                </div>
                <div class="bg-gray-100 pt-10 pb-5 border-b-4 border-b-red-600">
                    <p class="text-center">Annual Reports Investment 2020</p>
                    <div class="flex justify-center pt-3">
                        <img src="/assets/images/layout-info/about-us/download.png" alt="">
                    </div>
                </div>
                <div class="bg-gray-100 pt-10 pb-5 border-b-4 border-b-red-600">
                    <p class="text-center">Annual Reports Investment 2021</p>
                    <div class="flex justify-center pt-3">
                        <img src="/assets/images/layout-info/about-us/download.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="flex justify-between space-x-5 flex-wrap container mx-auto">
        <div class="bg-gray-100 w-1/3 pt-10 pb-5 border-b-4 border-b-red-600">
            <p class="text-center">Annual Reports Investment 2019</p>
            <div class="flex justify-center pt-3">
                <img src="/assets/images/layout-info/about-us/download.png" alt="">
            </div>
        </div>
        <div class="bg-gray-100 w-1/3 pt-10 pb-5 border-b-4 border-b-red-600">
            <p class="text-center">Annual Reports Investment 2020</p>
            <div class="flex justify-center pt-3">
                <img src="/assets/images/layout-info/about-us/download.png" alt="">
            </div>
        </div>
        <div class="bg-gray-100 w-1/3 pt-10 pb-5 border-b-4 border-b-red-600">
            <p class="text-center">Annual Reports Investment 2021</p>
            <div class="flex justify-center pt-3">
                <img src="/assets/images/layout-info/about-us/download.png" alt="">
            </div>
        </div>
    </div> -->
</section>
