<footer class="mt-20 pt-20">
     <div class="container mx-auto px-5">
         <div class=" sm:flex flex-wrap justify-between py-10 pt-24 border-t border-gray-100 border-solid">
             <div class="sm:w-1/2 lg:w-1/5 ">
                 <h1 class="font-bold text-lg">WHO WE ARE</h1>
                 <img src="/assets/images/layout-info/footer/bottom.svg" alt="">
                 <ul class="sm:space-y-2 text-sm mt-3 lg:mt-5">
                     <li>About us</li>
                     <li>Leadership</li>
                     <li>Career</li>
                     <li>Contact Us</li>
                 </ul>
             </div>
             <div class="sm:w-1/2 lg:w-1/5 mt-5 sm:mt-0">
                 <h1 class="font-bold text-lg">WHAT WE DO</h1>
                 <img src="/assets/images/layout-info/footer/bottom.svg" alt="">
                 <ul class="sm:space-y-2 text-sm mt-3 lg:mt-5">
                     <li>Our Services</li>
                     <li>Our Sector</li>
                     <li>Our Project</li>
                 </ul>
             </div>
             <div class="sm:w-1/2 lg:w-1/4 mt-5 lg:mt-0">
                 <h1 class="font-bold text-lg">PARTNERS & CUSTOMER</h1>
                 <img src="/assets/images/layout-info/footer/bottom.svg" alt="">
                 <ul class="sm:space-y-2 text-sm mt-5">
                     <li>Our Partners</li>
                     <li>Happy Customer</li>
                     <li>Our Community</li>
                 </ul>
             </div>
             <div class="sm:w-1/2 lg:w-1/4 mt-5 lg:mt-0">
                 <h1 class="font-bold text-lg">NEWS & MEDIA CENTER</h1>
                 <img src="/assets/images/layout-info/footer/bottom.svg" alt="">
                 <ul class="sm:space-y-2 text-sm mt-5">
                     <li>Corporate News</li>
                     <li>Upcoming Events</li>
                     <li>Multi Media</li>
                 </ul>
             </div>
         </div>
     </div>
     <div class="bg-[#F4F4F4]  py-20">
         <div class="container mx-auto flex flex-wrap space-y-7 md:space-y-0">
             <div class="w-full md:w-1/2 lg:w-4/12 space-y-5">
                 <div class="">
                     <div class="flex items-center justify-center">
                         <img class="" src="/assets/images/layout-info/footer/vector-01.svg" alt="">
                         <img class="absolute" src="/assets/images/layout-info/footer/vector-02.svg" alt="">
                         <img class="absolute w-3 " src="/assets/images/layout-info/footer/vector-03.svg" alt="">
                     </div>
                 </div>
                 <div class="text-center space-y-2 text-sm text-gray-800">
                     <h1 class="font-semibold">Head Office</h1>
                     <p>
                         7th floor, 192 Thai Thinh, Lang Ha Ward, Dong Da District, Hanoi city.
                         Vietnaminmergers.com
                     </p>
                 </div>   
             </div>
             <div class="w-full md:w-1/2 lg:w-5/12 space-y-5">
                 <div class="flex justify-center">
                     <div class="flex items-center justify-center">
                         <img class="" src="/assets/images/layout-info/footer/vector-01.svg" alt="">
                         <img class="absolute w-10" src="/assets/images/layout-info/footer/vector-02.svg" alt="">
                         <img class="absolute w-3" src="/assets/images/layout-info/footer/vector-03.svg" alt="">
                     </div>
                 </div>
                 <div class="text-center space-y-2 ml-2 text-sm text-gray-800">
                     <h1 class="font-semibold">Operation Office</h1>
                     <p>7th floor, 192 Thai Thinh, Lang Ha Ward, Dong Da District, Hanoi city. Vietnaminmergers.com</p>
                 </div>   
             </div>
             <div class="w-full lg:w-3/12 space-y-5 md:pt-10 lg:pt-0">
                 <div class="flex justify-center">
                     <div class="flex items-center justify-center">
                         <img class="" src="/assets/images/layout-info/footer/vector-01.svg" alt="">
                         <img class="absolute" src="/assets/images/layout-info/footer/email.svg" alt="">
                     </div>
                 </div>
                 <div class="text-center text-sm space-y-2 text-gray-800">
                     <h1 class="font-semibold">Email</h1>
                     <p>info@inmergers.com</p>
                 </div>   
             </div>
         </div>
     </div>
     <div class="bg-[#58595B] flex py-8">
          <div class="container mx-auto md:flex space-y-3 md:space-y-0 lg:justify-between items-center">
          <nav class="flex justify-center space-x-4 items-end">
               <a href="" class="flex space-x-2">
                    <img src="/assets/images/layout-info/footer/facebook.svg" alt="">
               </a>
               <a href="">
                    <img src="/assets/images/layout-info/footer/twitter.svg" alt="">
               </a>
               <a href="">
                    <img src="/assets/images/layout-info/footer/instagram.svg" alt="">
               </a>
               <a href="">
                    <img src="/assets/images/layout-info/footer/youtube.svg" alt="">
               </a>
          </nav>
          <div class=" text-white text-base sm:text-sm text-justify xl:mr-16 lg:text-base ">
               <a href="" class="">
                    <ul class="flex flex-wrap justify-center sm:mx-4 text-sm  space-x-4 md:space-x-5">
                         <li class="hover:text-red-500">Privacy Policy</li>
                         <li class="hover:text-red-500">Operational Regulations</li>
                         <li class="hover:text-red-500">Terms of Use</li>
                         <li class="hover:text-red-500">Dispute Resolution</li>
                    </ul>
               </a>
          </div>
          </div>
          <div class="">
          <a href="" class="flex items-center justify-center fixed right-5 bottom-0 max-w-[1800px]">
               <img src="/assets/images/layout-info/footer/messenger-01.svg" alt="" class="h-16">
               <img src="/assets/images/layout-info/footer/messenger-02.svg" alt="" class="h-10 absolute">
          </a>
          </div>
     </div>
 </footer>