.ant-modal-wrap  {
  @apply flex items-center justify-center;
  &.no-center {
    @apply block;

    .ant-modal {
      @apply pb-2 ~"top-2.5" transition-all;

    }
  }
  .ant-modal {
    @apply pb-0 top-0;

    &-header, &-body { @apply py-3 px-6; }
    &-close-x {
      @apply h-12 w-12;
    }
  }
}
