<div
  class="fixed inset-0 z-50 flex p-3 transition-all duration-300 ease-in-out overflow-y-auto invisible"
  [ngClass]="{'invisible opacity-0 -top-5': !visible, 'visible opacity-100 top-0': visible}"
>
  <div
    (click)="handleCancel()"
    class="bg-black bg-opacity-25 fixed inset-0 z-0"
  ></div>

  <div
    class="z-10 bg-white mx-auto my-auto w-full rounded-md transition-all duration-300 ease-in-out {{classModal}}"
    [style.maxWidth.px]="width" [ngClass]="{'scale-75': !visible, 'scale-100': visible}"
  >
    <div class="p-4 border-b border-gray-100 flex items-center justify-between" *ngIf="title">
      <h3 class="font-bold text-lg">{{title}}</h3>
      <i class="las la-times text-xl cursor-pointer" (click)="handleCancel()"></i>
    </div>

    <div class="p-4">
      <nz-spin [nzSpinning]="loading">
        <ng-container [ngTemplateOutlet]="contentModal"></ng-container>
      </nz-spin>
    </div>

    <div class="p-2 flex justify-end border-t border-gray-100" *ngIf="!notFooter">
      <ng-container [ngTemplateOutlet]="extendFooterButton"></ng-container>
      <button class="flex-1 bg-blue-100 px-4 py-2 rounded-md hover:bg-blue-500 hover:text-white"
              (click)="handleCancel()">
        {{'page.seller_details.Cancel' | translate}}
      </button>
      <button class="flex-1 bg-red-600 text-white px-4 py-2.5 rounded-md hover:bg-blue-400  ml-2"
              *ngIf="okHidden"
              [ngClass]="okDisabled || loading ? 'pointer-events-none border-gray-300 bg-gray-100 text-gray-400' : ''"
              [disabled]="okDisabled || loading"
              (click)="handleOk()">
        <i class="las la-spinner mr-1 animate-spin" *ngIf="loading"></i>
        {{okText ? okText : ('page.seller_details.Submit' | translate)}}
      </button>
    </div>

  </div>
</div>
