<section>
    <div class="container mx-auto px-5">
        <div class="-mt-24 sm:-mt-48 lg:-mt-64">
            <img src="/assets/images/layout-info/events-detail/ourevents.png" alt="">
            <img src="/assets/images/layout-info/events-detail/banner.png" alt="">
        </div>
        <div class="mt-10 grid sm:grid-cols-12 gap-3">
            <div class="space-x-3 sm:space-x-0 sm:space-y-2 flex sm:block">
                <img src="/assets/images/layout-info/events-detail/facebook.svg" alt="">
                <img src="/assets/images/layout-info/events-detail/twitter.svg" alt="">
                <img src="/assets/images/layout-info/events-detail/google.svg" alt="">
            </div>
            <div class="col-span-11 lg:col-span-7 text-sm">
                <p class="">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id phasellus libero phasellus proin sed consectetur fermentum 
                    urna mattis. Felis mattis laoreet sit sit eu in augue. Tincidunt in pellentesque pellentesque eleifend odio tortor vitae 
                    est. Enim malesuada bibendum sit nec. Feugiat interdum risus nibh fermentum, posuere interdum cras. Lacus, tempus vitae 
                    eget nisi, aliquet magna. Neque eleifend aliquet at nam nisi in. Egestas eu at elit placerat viverra lacus. Est dolor, 
                    feugiat egestas ut pulvinar augue morbi lorem. Eget placerat justo, sit quis sed nunc amet. Ac, volutpat id eros, 
                    rhoncus pulvinar netus odio. Libero, dui diam cursus pellentesque ut fames placerat augue auctor. Viverra eget cras 
                    id diam at tincidunt. Mattis rhoncus volutpat a curabitur leo aliquam a enim tellus.
                </p>
                <p class="mt-5">
                    Neque ut bibendum est purus felis, elementum turpis. Ac in lobortis nibh non turpis cursus consectetur. Interdum nibh 
                    adipiscing lacus feugiat viverra vestibulum. Egestas egestas convallis orci est orci. Dignissim placerat pulvinar accumsan 
                    consequat gravida orci facilisi. Sit rhoncus non et nunc a in egestas nec. Congue vitae, at neque ut sem. <br>
                    Purus id congue enim, quisque diam diam praesent. Dictum morbi cras eu mus faucibus dui. Aliquet nulla pulvinar fermentum 
                    vitae tortor, etiam nisi. Elementum diam est faucibus massa egestas erat consectetur habitant sed. Diam praesent ut nec 
                    pharetra, proin tristique. Diam lacus at bibendum congue massa. Purus quis porttitor tellus sem non malesuada. Euismod 
                    felis lacus aenean facilisis. Hac orci at sed est, scelerisque senectus nunc velit. <br>
                    A elit nibh at tincidunt ullamcorper vitae suspendisse lacinia in. Id rhoncus aliquam adipiscing aliquet. Viverra tellus 
                    gravida ut luctus. Vitae, phasellus diam mi amet quis in lacus at. Ac habitasse lacus, egestas commodo nisi. 
                    Malesuada dignissim quam elementum sollicitudin.
                </p>
                <p class="mt-5">
                    Eget nibh condimentum orci ut tellus scelerisque. Ut eleifend sit ornare tincidunt orci sed. Auctor condimentum bibendum 
                    natoque sed. Sed lacus purus justo, nisl elit, non. Ornare sed proin nulla luctus ultrices pretium. Id fringilla faucibus 
                    tellus, tortor senectus amet massa egestas. Aliquam nam tincidunt gravida id tellus. Nulla arcu, laoreet hendrerit viverra 
                    ultrices euismod dictum.
                </p>
            </div>
            <div class="col-span-11 lg:col-span-4 mt-10 lg:mt-0">
                <h1 class="font-bold">RELATED EVENTS</h1>
                <div class="grid grid-cols-2 gap-2 mt-5">
                    <div>
                        <img class="w-full lg:h-full" src="/assets/images/layout-info/events-detail/event-01.png" alt="">
                    </div>
                    <div class=>
                        <h1 class="text-lg font-semibold">SK Investment Events Talk Show 2022</h1>
                        <div>
                            <div>
                                <i class="lar la-clock text-red-700"></i>
                                <span class="text-sm">19:30 19/12/2021</span>
                            </div>
                            <div class="border-t">
                                <i class="las la-map-marker-alt  text-red-700"></i>
                                <span class="text-sm">T12 , 11 Duy Tan , CMC Tower, Cau Giay, Ha Noi</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 mt-5">
                    <div>
                        <img class="w-full lg:h-full" src="/assets/images/layout-info/events-detail/event-02.png" alt="">
                    </div>
                    <div class=>
                        <h1 class="text-lg font-semibold">SK Investment Events Talk Show 2022</h1>
                        <div>
                            <div>
                                <i class="lar la-clock text-red-700"></i>
                                <span class="text-sm">19:30 19/12/2021</span>
                            </div>
                            <div class="border-t">
                                <i class="las la-map-marker-alt  text-red-700"></i>
                                <span class="text-sm">T12 , 11 Duy Tan , CMC Tower, Cau Giay, Ha Noi</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-2 mt-5">
                    <div>
                        <img class="w-full lg:h-full" src="/assets/images/layout-info/events-detail/event-03.png" alt="">
                    </div>
                    <div class=>
                        <h1 class="text-lg font-semibold">SK Investment Events Talk Show 2022</h1>
                        <div>
                            <div>
                                <i class="lar la-clock text-red-700"></i>
                                <span class="text-sm">19:30 19/12/2021</span>
                            </div>
                            <div class="border-t">
                                <i class="las la-map-marker-alt  text-red-700"></i>
                                <span class="text-sm">T12 , 11 Duy Tan , CMC Tower, Cau Giay, Ha Noi</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <img src="/assets/images/layout-info/events-detail/map02.svg" alt="">
        </div>
        <div class="px-5 sm:px-20 -mt-20">
            <div class="text-gray-500 text-center">
                <h1 class="font-bold text-4xl sm:text-5xl">Register for the event</h1>
                <p class="sm:text-lg">Thank you for your interest. Please fill out the form below to inquire about our work.</p>
            </div>
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-10">
                <div>
                    <h1 class="text-lg font-bold">Name <b class="text-red-700" >*</b> </h1>
                    <input class="w-full py-2 bg-gray-100" type="text">
                </div>
                <div>
                    <h1 class="text-lg font-bold">Phone <b class="text-red-700" >*</b> </h1>
                    <input class="w-full py-2 bg-gray-100 " type="text">
                </div>
                <div>
                    <h1 class="text-lg font-bold">Email <b class="text-red-700" >*</b> </h1>
                    <input class="w-full py-2 bg-gray-100" type="text">
                </div>
                <div>
                    <h1 class="text-lg font-bold">Address</h1>
                    <input class="w-full py-2 bg-gray-100" type="text">
                </div>
            </div>
            <div class="mt-8">
                <h1 class="text-lg font-bold">Require</h1>
                <input class="w-full py-8 bg-gray-100" type="text" name="" id="">
            </div>
            <div class="mt-10 flex justify-center">
                <button class="px-14 py-3 text-white text-lg bg-red-700">Send Now</button>
            </div>
        </div>
    </div>
</section>