<section>
    <div class="container mx-auto px-5">
        <div class="-mt-28 sm:-mt-48 lg:-mt-72">
            <img src="/assets/images/layout-info/contact-us/contactus.png" alt="">
            <img class="mt-5" src="/assets/images/layout-info/contact-us/banner.png" alt="">
        </div>
        <div class="mt-14">
            <div class="flex justify-center">
                <img src="/assets/images/layout-info/contact-us/top.svg" alt="">
            </div>
            <h1 class="text-xl sm:text-3xl lg:text-4xl font-bold text-center text-red-700">Still looking for more information?</h1>
            <h1 class="text-xl sm:text-3xl lg:text-4xl font-bold text-center text-red-700">Contact us and we will be happy to answer your questions.</h1>
            <div class="flex justify-center mt-10">
                <div class="w-full sm:w-3/4 lg:w-1/2 space-y-5">
                    <input class="border p-3 w-full font-semibold" type="text" placeholder="Full name">
                    <input class="border p-3 w-full font-semibold" type="text" placeholder="Phone">
                    <input class="border p-3 w-full font-semibold" type="text" placeholder="Email">
                    <input class="border p-3 pb-14 w-full font-semibold" type="text" placeholder="Your messenge">
                    <button class="text-white font-semibold bg-red-700 w-full py-3">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-100 py-20 mt-16">
        <div class="container mx-auto px-5">
            <h1 class="text-center font-bold text-4xl text-red-700">FAQs</h1>
            <div class="flex justify-center">
                <img src="/assets/images/layout-info/contact-us/top.svg" alt="">
            </div>
            <div class="flex justify-center mt-10">
                <div class="w-full sm:w-4/5 lg:w-3/5 space-y-3">
                    <div class="flex justify-between  bg-white px-8 py-4">
                        <h1>How can I become a partner with INMERGERS?</h1>
                        <img src="/assets/images/layout-info/contact-us/daucong.svg" alt="">
                    </div>
                    <div class="flex justify-between  bg-white px-8 py-4">
                        <h1>What are services  of INMERGERS?</h1>
                        <img src="/assets/images/layout-info/contact-us/daucong.svg" alt="">
                    </div>
                    <div class="flex justify-between  bg-white px-8 py-4">
                        <h1>What are services  of INMERGERS?</h1>
                        <img src="/assets/images/layout-info/contact-us/daucong.svg" alt="">
                    </div>
                    <div class="flex justify-between  bg-white px-8 py-4">
                        <h1>How to join INMERGERS’s events?</h1>
                        <img src="/assets/images/layout-info/contact-us/daucong.svg" alt="">
                    </div>
                    <div class="flex justify-between  bg-white px-8 py-4">
                        <h1>How to connect with INMERGERS’s partners?</h1>
                        <img src="/assets/images/layout-info/contact-us/daucong.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
