<section>
    <div class="bg-gray-100">
        <div class="container mx-auto px-5 relative -top-28 sm:-top-48 lg:-top-72">
            <div>
                <img class="mb-5" src="/assets/images/layout-info/partner-detail/ourpartners.png" alt="">
                <img src="/assets/images/layout-info/partner-detail/banner-main.png" alt="">
            </div>
            <h1 class="text-xl sm:text-3xl lg:text-4xl font-semibold text-white px-5 relative -mt-16">Công ty CEOMITRA</h1>
            <div class="bg-white divide-y mt-6">
                <div class="grid grid-cols-4 p-5">
                    <div>
                        <h1 class="text-xl font-semibold">Region</h1>
                    </div>
                    <div class="col-span-3 ml-5">
                        <h1 class="">Asean</h1>
                    </div>
                </div>
                <div class="grid grid-cols-4 p-5">
                    <div>
                        <h1 class="text-xl font-semibold">Address</h1>
                    </div>
                    <div class="col-span-3 ml-5">
                        <span>16th Floor, C1 Thanh Cong Tower, Thanh Cong Ward, Ba Đinh Dist, Ha Noi</span>
                    </div>
                </div>
                <div class="grid grid-cols-4 p-5">
                    <div>
                        <h1 class="text-xl font-semibold">Contact</h1>
                    </div>
                    <div class="col-span-3 ml-5">
                        <span> +84-24-3513-2783/84</span>
                    </div>
                </div>
                <div class="grid grid-cols-4 p-5">
                    <div>
                        <h1 class="text-xl font-semibold">Business Code</h1>
                    </div>
                    <div class="col-span-3 ml-5">
                        <span>8886768</span>
                    </div>
                </div>
                <div class="grid grid-cols-4 p-5">
                    <div>
                        <h1 class="text-xl font-semibold">CEO</h1>
                    </div>
                    <div class="col-span-3 ml-5">
                        <span>Pham Minh Toan</span>
                    </div>
                </div>
            </div>
            <div class="px-5 lg:px-10 mt-16 space-y-6">
                <img src="/assets/images/layout-info/partner-detail/top.svg" alt="">
                <h1 class="text-3xl lg:text-5xl font-bold text-red-700 mt-8">About CEOMITRA</h1>
                <p>
                    INMERGERS provides a completely free business valuation tool that uses a discounted cash flow formula to help businesses 
                    and investors get useful reference information in the decision to buy, sell or invest. Results are completely dependent 
                    on the input data provided by the user. Therefore, the user is solely responsible for the information they provide when 
                    using the Tool as well as the decisions made based on the results received from the Tool.
                </p>
                <p>
                    INMERGERS provides a completely free business valuation tool that uses a discounted cash flow formula to help businesses
                    and investors get useful reference information in the decision to buy, sell or invest. Results are completely dependent 
                    on the input data provided by the user. Therefore, the user is solely responsible for the information they provide when 
                    using the Tool as well as the decisions made based on the results received from the Tool.
                </p>
                <p class="pt-12">
                    INMERGERS provides a completely free business valuation tool that uses a discounted cash flow formula to help businesses 
                    and investors get useful reference information in the decision to buy, sell or invest. Results are completely dependent 
                    on the input data provided by the user. Therefore, the user is solely responsible for the information they provide when 
                    using the Tool as well as the decisions made based on the results received from the Tool.
                </p>
                <p>
                    INMERGERS provides a completely free business valuation tool that uses a discounted cash flow formula to help businesses
                    and investors get useful reference information in the decision to buy, sell or invest. Results are completely dependent 
                    on the input data provided by the user. Therefore, the user is solely responsible for the information they provide when 
                    using the Tool as well as the decisions made based on the results received from the Tool.
                </p>
            </div>
            <div class="mt-10">
                <img src="/assets/images/layout-info/partner-detail/banner.png" alt="">
            </div>
            <div class="px-5 lg:px-10 mt-14">
                <img class="" src="/assets/images/layout-info/partner-detail/top.svg" alt="">
                <h1 class="text-3xl lg:text-5xl text-red-700 font-bold mt-6">Contact INMERGERS about CEOMITRA</h1>
                <p class="font-semibold mt-8">If you have any questions or comments about Partner, please Contact us </p>
                <img class="mt-14" src="/assets/images/layout-info/partner-detail/top.svg" alt="">
                <h1 class="text-3xl lg:text-5xl text-red-700 font-bold mt-6">Partner Social</h1>
                <div class="flex space-x-5 mt-6">
                    <img src="/assets/images/layout-info/partner-detail/facebook.svg" alt="">
                    <img src="/assets/images/layout-info/partner-detail/instagram.svg" alt="">
                    <img src="/assets/images/layout-info/partner-detail/linker.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
