<section>
    <div class="container mx-auto px-5 -mt-28 sm:-mt-48 lg:-mt-72">
        <div class="relative">
            <img class="w-3/4" src="/assets/images/layout-info/mmatch-detail/mmatch.svg" alt="">
            <img class="w-full pt-5" src="/assets/images/layout-info/mmatch-detail/banner-main.png" alt="">
        </div>
        <div class="flex justify-center py-5 mt-20">
            <img src="/assets/images/layout-info/mmatch-detail/top.svg" class="" alt="">
        </div>
        <div class="flex justify-center">
            <div>
                <h1 class="font-bold text-2xl sm:text-4xl text-red-600">The benefits of </h1>
            </div>
            <div>
                <img class="ml-2 sm:ml-3 h-6 sm:h-8" src="/assets/images/layout-info/mmatch-detail/m.svg" alt="">
            </div>
            <div>
                <h1 class="font-bold text-2xl sm:text-4xl text-red-600 sm:pt-0.5">Match</h1>
            </div>
        </div>
        <div class="flex flex-wrap font-thin my-20">
            <div class="w-1/2 lg:w-1/4">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mmatch-detail/clock.svg" alt="">
                </div>
                <p class="text-center font-normal mt-3 xl:px-4">Save time connecting buyers - sellers with Auto-Matching feature</p>
            </div>
            <div class="w-1/2 lg:w-1/4">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mmatch-detail/dollar.svg" alt="">
                </div>
                <p class="text-center font-normal mt-5">Optimizing costs and procedures</p>
            </div>
            <div class="w-1/2 lg:w-1/4 mt-5 lg:mt-0">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mmatch-detail/hand.svg" alt="">
                </div>
                <p class="text-center font-normal mt-5">High security</p>
            </div>
            <div class="w-1/2 lg:w-1/4 mt-5 lg:mt-0">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mmatch-detail/hand-02.svg" alt="">
                </div>
                <p class="text-center font-normal mt-5">Expanding international investment connections</p>
            </div>
        </div>
    </div>
    <div class="bg-gray-200 py-14">
        <div class="container px-5 mt-10 mx-auto">
            <div class="flex flex-wrap">
                <div class="w-full md:w-2/5 py-5 bg-red-600 text-white px-5 xl:px-10">
                    <h1 class="text-3xl text-white md:text-5xl mt-3 lg:mt-8 font-semibold">Buyers</h1>
                    <p class="text-xl md:text-4xl font-thin mt-5">Find Opportunity - Start Profitable Businesses</p>
                </div>
                <div class="w-full md:w-3/5  flex flex-wrap bg-white">
                    <div class="w-full sm:w-1/2 border-r border-b space-y-2 py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/house.svg" class="" alt="">
                        </div>
                        <p class="text-center text-gray-700">BUY ALL/PARTS OF THE COMPANY</p>
                    </div>
                    <div class="w-full sm:w-1/2 space-y-2 border-b py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/hand-03.svg" class="" alt="">
                        </div>
                        <p class="text-center text-gray-700">BUY/LEASE ASSET</p>
                    </div>
                    <div class="w-full sm:w-1/2 border-b border-r space-y-2 py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/tobe.svg" class="" alt="">
                        </div>
                        <p class="text-center text-text-gray-700">TO BE FRANCHISE</p>
                    </div>
                    <div class="w-full sm:w-1/2 border-b space-y-2 py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/tobe-02.svg" class="" alt="">
                        </div>
                        <p class="text-center text-gray-700">TO BE AGENTS</p>
                    </div>
                    <div class="w-full space-y-2 py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/request.svg" alt="">
                        </div>
                        <p class="text-center text-gray-700">REQUEST OEM</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container px-5 mx-auto mt-14">
            <div class="flex flex-wrap">
                <div class="w-full md:w-2/5 py-5 bg-gray-700 text-white px-5 xl:px-10">
                    <h1 class="text-3xl md:text-5xl mt-3 lg:mt-8 font-semibold text-white">Sellers</h1>
                    <p class="text-xl md:text-4xl mt-5 font-thin">Find Investors - Raise Millions</p>
                </div>
                <div class="w-full md:w-3/5 flex flex-wrap bg-white">
                    <div class="w-full sm:w-1/2 space-y-2 border-b border-r py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/house.svg" class="" alt="">
                        </div>
                        <p class="text-center text-gray-700">SELL ALL/PARTS OF THE COMPANY</p>
                    </div>
                    <div class="w-full sm:w-1/2 space-y-2 border-b py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/hand-03.svg" class="" alt="">
                        </div>
                        <p class="text-center text-gray-700">SELL/FOR LEASE ASSET</p>
                    </div>
                    <div class="w-full sm:w-1/2 space-y-2 border-b border-r py-5 font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/tobe.svg" class="" alt="">
                        </div>
                        <p class="text-center px-2 text-gray-700">FIND FRANCHISE PARTNERS</p>
                    </div>
                    <div class="w-full sm:w-1/2 space-y-2 py-5 border-b font-bold">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mmatch-detail/tobe-02.svg" class="" alt="">
                        </div>
                        <p class="text-center text-gray-700">FIND AGENTS</p>
                    </div>
                    <div class="w-full font-semibold">
                        <div class="flex justify-center py-9">
                            <img src="/assets/images/layout-info/mmatch-detail/request.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-5 mt-20">
        <div class="flex justify-center">
            <img src="/assets/images/layout-info/mmatch-detail/top.svg" alt="">
        </div>
        <h1 class="text-4xl text-center text-red-600 mt-2 font-bold">Service packages For Seller</h1>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-20">
            <div class="shadow-lg rounded-md">
                <div class="bg-red-600 rounded-md">
                    <h1 class="text-center font-semibold text-xl text-white py-4">Basic package</h1>
                </div>
                <div class="py-5 space-y-10">
                    <div class="text-center">
                        <h1 class="text-center text-4xl text-red-600 pt-10 font-bold">$49</h1>
                    </div>
                    <div class="text-center pt-8">
                        <p class="font-bold text-lg">Number of display</p>
                        <p class="font-thin text-base">No limit <br> (in 2 years)</p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin ">No limit</h4>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Direct promotion</h2>
                        <h4 class="font-thin ">0</h4>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-md">
                <div class="bg-red-600 rounded-md">
                    <h1 class="text-center font-medium text-xl text-white py-4">Silver package</h1>
                </div>
                <div class="py-5 space-y-10">
                    <div class="text-center">
                        <h1 class="text-center pt-10 text-4xl text-red-600 font-bold">$129</h1>
                    </div>
                    <div class="text-center pt-8">
                        <p class="font-bold text-lg">Number of display</p>
                        <p class="font-thin text-base">Display priority is higher <br> than Basic package</p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin">No limit</h4>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Direct promotion</h2>
                        <h4 class="font-thin">2 times in 2 months</h4>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-md">
                <div class="bg-red-600 rounded-md">
                    <h1 class="text-center font-medium text-xl text-white py-4">Golden package</h1>
                </div>
                <div class="py-5 space-y-10">
                    <div class="text-center">
                        <h1 class="text-center pt-10 text-4xl text-red-600 font-bold">$169</h1>
                    </div>
                    <div class="text-center pt-8">
                        <p class="font-bold text-lg">Number of display</p>
                        <p class="font-thin">Priority is given to Silver <br> and Basic Packages</p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin ">No limit</h4>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Direct promotion</h2>
                        <h4 class="font-thin">6 times in 6 months</h4>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-md">
                <div class="bg-red-600 rounded-md">
                    <h1 class="text-center font-medium text-xl text-white py-4">Platinum package</h1>
                </div>
                <div class="py-5 space-y-10">
                    <div class="text-center">
                        <h1 class="text-center text-4xl pt-10 text-red-600 font-bold">$219</h1>
                    </div>
                    <div class="text-center pt-8">
                        <p class="font-bold text-lg">Number of display</p>
                        <p class="font-thin">Highest display priority </p>
                    </div>
                    <div class="text-center pt-5">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin">No limit</h4>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Direct promotion</h2>
                        <h4 class="font-thin">12 times in 12 months</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-center mt-10 lg:mt-16">
            <button class="bg-red-600 px-12 py-4 text-white font-semibold">Explore more</button>
        </div>
    </div>
    <div class="container mx-auto px-5 mt-20">
        <div class="flex justify-center">
            <img src="/assets/images/layout-info/mmatch-detail/top.svg" alt="">
        </div>
        <h1 class="text-4xl text-center text-red-600 mt-2 font-bold">Service packages For Buyer</h1>
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-6 mt-20">
            <div class="shadow-lg rounded-md">
                <div class="bg-gray-700 rounded-md">
                    <h1 class="text-center font-medium text-xl text-white py-4">Basic package</h1>
                </div>
                <div class="py-10 space-y-14">
                    <div class="text-center">
                        <h1 class="text-center pt-5 text-4xl text-red-700 font-bold">$0</h1>
                    </div>
                    <div class="text-center">
                        <p class="font-bold text-lg">Number of connections</p>
                        <p class="font-thin">10</p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin">No limit</h4>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-md">
                <div class="bg-gray-700 rounded-md">
                    <h1 class="text-center font-medium text-xl text-white py-4">Silver package</h1>
                </div>
                <div class="py-10 space-y-14">
                    <div class="text-center">
                        <h1 class="text-center text-4xl pt-5 text-red-700 font-bold">$129</h1>
                    </div>
                    <div class="text-center">
                        <p class="font-bold text-lg">Number of connections</p>
                        <p class="font-thin">19</p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin px-2">Display priority is higher <br> than Basic package</h4>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-md">
                <div class="bg-gray-700 rounded-md">
                    <h1 class="text-center font-medium text-xl text-white py-4">Golden package</h1>
                </div>
                <div class="py-10 space-y-14">
                    <div class="text-center pt-5">
                        <h1 class="text-center text-4xl  text-red-700 font-bold">$169</h1>
                    </div>
                    <div class="text-center">
                        <p class="font-bold text-lg">Number of connections</p>
                        <p class="font-thin">29</p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-semibold">Display time</h2>
                        <h4 class="font-thin px-5 xl:px-10">Display priority is higher than Silver package</h4>
                    </div>
                </div>
            </div>
            <div class="shadow-lg rounded-md">
                <div class="bg-gray-700 rounded-md">
                    <h1 class="text-center font-medium text-base lg:text-lg xl:text-xl text-white py-4">Platinum package</h1>
                </div>
                <div class="py-10 space-y-14">
                    <div class="text-center">
                        <h1 class="text-center text-4xl pt-5 text-red-600 font-bold">$299</h1>
                    </div>
                    <div class="text-center">
                        <p class="font-bold text-lg">Number of connections</p>
                        <p class="font-thin ">No limit in 6 months </p>
                    </div>
                    <div class="text-center">
                        <h2 class="text-lg font-bold">Display time</h2>
                        <h4 class="font-thin">Highest display priority</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-10 lg:mt-16">
        <button class="bg-red-600 px-12 py-4 text-white font-semibold">Explore more</button>
    </div>
</section>
