<section>
    <div class="bg-gray-100">
        <div class="container mx-auto px-5 ">
            <div class="relative -top-28 sm:-top-48 lg:-top-72">
                <img class="w-3/4" src="/assets/images/layout-info/mfund-detail/mfund.svg" alt="">
                <img class="pt-5" src="/assets/images/layout-info/mfund-detail/banner.png" alt="">
            </div>
            <div class="relative -top-28">
                <div class="flex justify-center">
                    <img class="" src="/assets/images/layout-info/mfund-detail/top.svg" alt="">
                </div>
                <div class="flex justify-center mt-5">
                    <div class="flex text-center ">
                        <div>
                            <h1 class="text-red-600 text-4xl font-bold">The benefits of</h1>
                        </div>
                        <div class="ml-3">
                            <img src="/assets/images/layout-info/mfund-detail/m.svg" alt="">
                        </div>
                        <div>
                            <h1 class="text-red-600 text-4xl font-bold">Fund </h1>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap justify-between mt-28 ">
                    <div class="w-1/2 sm:w-1/5 xl:w-1/12">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mfund-detail/high.svg" alt="">
                        </div>
                        <h1 class="text-center pt-5">High liquidity</h1>
                    </div>
                    <div class="w-1/2 sm:w-2/5 xl:w-3/12">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mfund-detail/dollar-02.svg" alt="">
                        </div>
                        <h1 class="text-center pt-5">Easy access to investment goals with Tokenization</h1>
                    </div>
                    <div class="w-1/2 sm:w-2/5 xl:w-3/12 pt-10 sm:pt-0">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mfund-detail/note.svg" alt="">
                        </div>
                        <h1 class="text-center pt-5">Safe and transparent transactions using smart contracts</h1>
                    </div>
                    <div class="w-1/2 sm:w-1/2 xl:w-2/12 mt-10 xl:mt-0">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mfund-detail/dollar.svg" alt="">
                        </div>
                        <h1 class="text-center pt-5">Save costs, transaction time</h1>
                    </div>
                    <div class="w-full sm:w-1/2 xl:w-2/12 mt-10 xl:mt-0">
                        <div class="flex justify-center">
                            <img src="/assets/images/layout-info/mfund-detail/connect.svg" alt="">
                        </div>
                        <h1 class="text-center pt-5">Expanding international investment connections</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-5 mt-20">
        <div class="flex justify-center">
            <img src="/assets/images/layout-info/mfund-detail/top.svg" alt="">
        </div>
        <div class="pt-2 flex justify-center">
            <div>
                <img src="/assets/images/layout-info/mfund-detail/m.svg" alt="">
            </div>
            <h1 class="text-4xl font-bold text-red-600 text-center">Fund Process</h1>
        </div>
        <div class="flex flex-wrap mt-14">
            <div class="w-1/2 md:w-1/3 lg:w-1/5">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mfund-detail/step-01.svg" alt="">
                </div>
                <div class="flex justify-center mt-10">
                    <img src="/assets/images/layout-info/mfund-detail/chungchi.svg" alt="">
                </div>
                <div class="text-center mt-8 text-lg">
                    <h1>Registering and providing information</h1>
                </div>
            </div>
            <div class="w-1/2 md:w-1/3 lg:w-1/5">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mfund-detail/step-02.svg" alt="">
                </div>
                <div class="flex justify-center mt-10">
                    <img src="/assets/images/layout-info/mfund-detail/note.svg" alt="">
                </div>
                <div class="text-center mt-8 text-lg">
                    <h1>Preliminary appraisal of the project</h1>
                </div>
            </div>
            <div class="w-1/2 md:w-1/3 lg:w-1/5 mt-5 md:mt-0">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mfund-detail/step-03.svg" alt="">
                </div>
                <div class="flex justify-center mt-10">
                    <img src="/assets/images/layout-info/mfund-detail/dollar-02.svg" alt="">
                </div>
                <div class="text-center mt-8 text-lg">
                    <h1>Crowdfunding</h1>
                </div>
            </div>
            <div class="w-1/2 lg:w-1/5 mt-5 lg:mt-0">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mfund-detail/step-04.svg" alt="">
                </div>
                <div class="flex justify-center mt-10">
                    <img src="/assets/images/layout-info/mfund-detail/connect.svg" alt="">
                </div>
                <div class="text-center mt-8 text-lg">
                    <h1>Project appraisal and disbursement</h1>
                </div>
            </div>
            <div class="w-full md:w-1/2 lg:w-1/5 mt-5 lg:mt-0">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mfund-detail/step-05.svg" alt="">
                </div>
                <div class="flex justify-center mt-10">
                    <img src="/assets/images/layout-info/mfund-detail/return.svg" alt="">
                </div>
                <div class="text-center mt-8 text-lg">
                    <h1>Paying dividends</h1>
                </div>
            </div>
            <!-- <div class="">
                <div class="flex justify-center">
                    <img src="/assets/images/layout-info/mfund-detail/step-06.svg" alt="">
                </div>
                <div class="flex justify-center mt-10">
                    <img src="/assets/images/layout-info/mfund-detail/data.svg" alt="">
                </div>
                <div class="text-center mt-8 text-lg">
                    <h1>
                        Post-Merger <br> Integration
                    </h1>
                </div>
            </div> -->
        </div>
        <div class="pt-10">
            <div class="flex justify-center">
                <img src="/assets/images/layout-info/mfund-detail/top.svg" alt="">
            </div>
            <h1 class="text-center text-3xl font-bold text-red-600 pt-2">Project Scale</h1>
            <div class="w-full">
                <img class="w-full" src="/assets/images/layout-info/mfund-detail/muiten02.svg" alt="">
            </div>
        </div>
        <div class="text-center pt-8 lg:pt-16">
            <button class="py-3 px-10 border-2 border-black font-semibold text-red-600">Explore more</button>
        </div>
    </div>
</section>