<section>
    <div class="container mx-auto px-5 relative -top-28 sm:-top-48 lg:-top-64">
        <div class="">
            <img class="w-3/4" src="/assets/images/layout-info/our-service/our.png" alt="">
            <img class="pt-5 w-full" src="/assets/images/layout-info/our-service/banner-aboutus.png" alt="">
        </div>
        <div class="grid lg:grid-cols-2  space-x-5">
            <div class="pt-10 xl:pt-32">
                <img src="/assets/images/layout-info/top.svg" alt="">
                <div class="flex mt-5">
                    <img class="h-12" src="/assets/images/layout-info/m.svg" alt="">
                    <h1 class="text-5xl font-bold text-red-600">Match</h1>
                </div>
                <div class="sm:text-base xl:text-lg text-gray-600 mr-5">
                    <p class="mt-2">
                        MMatch is the first premium product of INMERGERS that connects
                        business with investors on profile matching.
                    </p>
                    <p class="mt-8">
                        Auto matching technology applied in the product helps Sellers’ needs of selling shares, assets,
                        businesses to meet Buyers’ demand and via versa.
                        In addition to feature of matching profiles automatically, the technology via smart filter tools
                        also brings more selections for users to maximize their capabilities of finding appropriate partners,
                        as to extend opportunities of success in M&A deals.
                    </p>
                    <p>
                        Transactions of MMatch includes buying, selling a part or all of a business; buying, selling,
                        leasing properties; franchising, agency; and OEM processing.
                    </p>
                    <button class="mt-16 font-semibold text-white bg-red-600 px-16 mb-10 py-4">EXPLORE</button>
                </div>
            </div>
            <div class="hidden lg:flex justify-center relative xl:-bottom-28">
                <img class="w-full" src="/assets/images/layout-info/our-service/bernard-hermant.png" alt="">
            </div>
        </div>
    </div>
    <div class="bg-gray-800">
        <div class="container mx-auto px-5 pb-16">
            <div class="grid grid-cols-2 space-x-5 lg:pt-32">
                <div></div>
                <div>
                    <img src="/assets/images/layout-info/our-service/top.svg" alt="">
                </div>
            </div>
            <div class="grid lg:grid-cols-2 mt-10 space-x-5">
                <div class="hidden lg:flex justify-center">
                    <img class="" src="/assets/images/layout-info/our-service/laban.png" alt="">
                </div>
                <div class="mt-10 lg:mt-0">
                    <div>
                        <div class="flex">
                            <img class="h-12" src="/assets/images/layout-info/our-service/m.svg" alt="">
                            <h1 class="text-5xl font-bold text-red-600">Fund</h1>
                        </div>
                        <div class="mt-10 text-gray-400 xl:text-lg">
                            <p>MFund is the second ultimate product of crowdfunding in the IINMERGERS ecosystem.</p>
                            <p>
                                 MFund is developed on Blockchain technology, of which businesses, projects that need rising capital, are tokenized as to all scale of investors from small to large one could participate. Transactions are made entirely on smart contracts basis, which is automatically generated in the chain. It is not only maximized security, safety and transparency
                                 for M&A transactions, but also brings transactions far beyond nation territorial borders and reach out to the global market.
                            </p>
                            <p>MFund is expected to break all limitation of current traditional trading methods.</p>
                        </div>
                    </div>
                    <button class="mt-10 xl:mt-16 font-semibold text-white bg-red-600 px-16 py-4">EXPLORE</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-5 mt-10">
        <div class="grid lg:grid-cols-2">
            <div class="pt-10 xl:pt-20">
                <img src="/assets/images/layout-info/our-service/top.svg" alt="">
                <h1 class="text-5xl font-bold text-red-600 mt-5">Business Valuation Tool</h1>
                <p class="text-gray-600 pt-8 text-lg mr-8">
                    INMERGERS provides a completely free business valuation tool that uses a discounted cash flow formula
                    to help businesses and investors get useful reference information in the decision to buy, sell or invest.
                    Results are completely dependent on the input data provided by the user. Therefore, the user is solely responsible
                    for the information they provide when using the Tool as well as the decisions made based on the results received
                    from the Tool.
                </p>
                <button class="mt-10 xl:mt-16 font-semibold text-white bg-red-600 px-16 py-4">EXPLORE</button>
            </div>
            <div class="w-full mt-10 lg:mt-0">
                <img class="w-full h-full" src="/assets/images/layout-info/our-service/banner-right-02.png" alt="">
            </div>
        </div>
    </div>
</section>
