<section>
    <div class="container mx-auto px-5">
        <div class="-mt-40 sm:-mt-48">
            <div class="flex justify-center pt-10 sm:pt-0">
                <img src="/assets/images/layout-info/search/search.png" alt="">
            </div>
            <div class="flex justify-center">
                <div class="bg-white rounded-full border shadow-lg px-5 sm:px-10 py-3 sm:py-5 mt-10 sm:mt-20 w-full md:w-4/5 lg:w-3/4">
                    <div class="grid grid-cols-2">
                        <div class="flex items-center space-x-5">
                            <img class="hidden sm:block" src="/assets/images/layout-info/search/search.svg" alt="">
                            <h1 class="text-lg sm:text-2xl font-semibold">Finance news</h1>
                        </div>
                        <div class="flex justify-end space-x-5">
                            <img class="hidden sm:block" src="/assets/images/layout-info/search/x.svg" alt="">
                            <button class="py-3 px-8 bg-red-700 text-white text-xs sm:text-base font-bold">TÌM KIẾM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-3xl text-center mt-10">Result for "Finance news"</h1>
        <div class="grid lg:grid-cols-3 mt-10 gap-8">
            <div class="sm:col-span-2">
                <div class="grid sm:grid-cols-2 gap-5 border">
                    <div class="">
                        <img class="w-full" src="/assets/images/layout-info/our-news/Rectangle199.png" alt="">
                    </div>
                    <div class="space-y-5 mt-3 md:mt-8 mb-5 md:mb-0 px-5">
                        <h1 class="font-semibold text-xl">VN-Index posts marginal loss afer climbing to new peak</h1>
                        <p class="font-semibold">Vietnam’s benchmark VN-Index dropped 0.01 percent to 1,528.48 points Friday with trading value falling double-digit.</p>
                        <button class="px-10 py-3 text-white bg-red-600">Read more</button>
                    </div>
                </div>
                <div class="grid sm:grid-cols-2 gap-5 border mt-10">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/our-news/container.png" alt="">
                    </div>
                    <div class="space-y-5 mt-3 md:mt-8 mb-5 md:mb-0 px-5">
                        <h1 class="font-semibold text-xl">Maritime reefer container prices up 3-4 times</h1>
                        <p class="font-semibold">Seeing trucks stranded at borders with China, Vietnamese businesses are switching to shipping</p>
                        <button class="px-10 py-3 text-white bg-red-600">Read more</button>
                    </div>
                </div>
                <div class="grid sm:grid-cols-2 gap-5 border mt-10">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/our-news/dragonfruit.png" alt="">
                    </div>
                    <div class="space-y-5 mt-3 md:mt-8 mb-5 md:mb-0 px-5">
                        <h1 class="font-semibold text-xl">300,000 tonnes of dragon fruit have no buyers</h1>
                        <p class="font-semibold">Around 300,000 tonnes of dragon fruit will soon be ripe for harvest but without buyers as China clamps down on border trade</p>
                        <button class="px-10 py-3 text-white bg-red-600">Read more</button>
                    </div>
                </div>
                <div class="grid sm:grid-cols-2 gap-5 border mt-10">
                    <div>
                        <img class="w-full" src="/assets/images/layout-info/our-news/vinfast.png" alt="">
                    </div>
                    <div class="space-y-5 mt-3 md:mt-6 mb-5 md:mb-0 px-5">
                        <h1 class="font-semibold text-xl">Vietnam car maker VinFast to build US battery factory as it goes all-electric</h1>
                        <p class="font-semibold">Vietnam's VinFast plans to build electric vehicle battery cells and packs in a new U.S.</p>
                        <button class="px-10 py-3 text-white bg-red-600">Read more</button>
                        
                    </div>
                </div>
                <div class="mt-10 space-x-2">
                    <button class="px-4 py-2 bg-red-600 text-white">1</button>
                    <button class="px-4 py-2 bg-gray-200">2</button>
                    <button class="px-4 py-2 bg-gray-200">3</button>
                    <button class="px-4 py-2 bg-gray-200">4</button>
                </div>
            </div>
            <div>
                <div class="shadow-xl px-5 space-y-3 py-6">
                    <h1 class="text-3xl font-semibold mt-10 pb-2 border-b" >Popular Search</h1>
                    <div class="flex justify-between text-xl pt-5">
                        <h3 class="text-red-700 font-medium">Finance and Banking</h3>
                        <h3 class="text-red-700 font-medium">></h3>
                    </div>
                    <div class="flex justify-between text-xl ">
                        <h3 class="text-red-700 font-medium">Social Insurance</h3>
                        <h3 class="text-red-700 font-medium">></h3>
                    </div>
                    <div class="flex justify-between text-xl ">
                        <h3 class="text-red-700 font-medium">Stock Market</h3>
                        <h3 class="text-red-700 font-medium">></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-gray-700 py-12 mt-12 -mb-40">
        <div class="container mx-auto px-5">
            <div class="grid md:grid-cols-12 gap-6">
                <div class="col-span-7">
                    <p class="text-xl font-semibold text-white">Leave an email to receive newsletters or information about upcoming events</p>
                </div>
                <div class="col-span-5 grid grid-cols-3">
                    <div class="col-span-2 ">
                        <input class="w-full px-5 py-2" type="text" placeholder="Email Address">
                    </div>
                    <div>
                        <button class="bg-red-600 w-full py-2">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>