<section>
        <header #scroll class=" text-white py-5 lg:py-10 border-t-4 border-solid border-t-red-500 border-b border-b-gray-500 fixed top-0 right-0 left-0 z-20">
            <div class="px-5 lg:px-3 mx-auto max-w-[1920px] items-center">
                <nav class="xl:flex items-center xl:justify-between">
                    <a href="" class="w-full flex justify-between lg:justify-center xl:justify-between xl:w-1/4">
                        <img class="h-10 lg:h-14" src="/assets/images/layout-info/header/logo.svg" alt="">
                        <img class="lg:hidden pt-3 " src="/assets/images/layout-info/header/menu.svg" alt="">
                    </a>
                    <div class="w-full font-semibold xl:w-3/4 lg:pt-5 xl:pt-0 lg:mt-3">
                        <ul class="lg:flex justify-between items-center text-sm hidden">
                            <li class="hover:bg-red-600  px-2  py-3">
                                <a routerLink="about-us">WHO WE ARE</a>
                            </li>
                            <li class="hover:bg-red-600  px-2 py-3">
                                <a routerLink="our-service">WHAT WE DO</a>
                            </li>
                            <li class="hover:bg-red-600  px-2 py-3">
                                <a routerLink="our-partner">PARTNERS & CUSTOMER</a>
                            </li>
                            <li class="hover:bg-red-600  px-2 py-3">
                                <a href="">SUSTAINABILLITY</a>
                            </li>
                            <li class="hover:bg-red-600  px-2 py-3">
                                <a href="">NEWS & MEDIA CENTER</a>
                            </li>
                            <li class="hover:bg-red-600 px-2 py-3">
                                <a routerLink="our-partner">BECOME OUR PARTNER</a>
                            </li>
                            <a href="" class="">
                                <img src="/assets/images/layout-info/header/menu.svg" alt="">
                            </a>
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <div class="bg-gray-800 py-32 sm:py-48 lg:py-64">
        </div>
</section>
