<section class="">
    <div class="bg-gray-100">
        <div class="container mx-auto px-5 relative -top-28 sm:-top-48 lg:-top-72">
            <div>
                <img src="/assets/images/layout-info/our-partner/ourpartners.png" alt="">
                <img class="mt-5" src="/assets/images/layout-info/our-partner/banner-main.png" alt="">
            </div>
            <div class="grid lg:grid-cols-2 relative -bottom-16">
                <div class="space-x-5 ">
                    <label class="text-lg" for="">Region</label>
                    <input class="w-3/5 sm:w-4/5 py-2 sm:py-3" type="text">
                </div>
                <div class="space-x-5 flex justify-between items-center mt-10 lg:mt-0">
                    <label class="text-lg" for="">Name</label>
                    <input class="px-5 w-3/5 py-2 sm:py-3 text-lg" type="text" placeholder="Partner name">
                    <button class="px-10 sm:px-16 py-2 sm:py-3 text-lg text-white bg-red-700">Search</button>
                </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-5 relative -bottom-16 mt-16">
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/lascom.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/indonet.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/boardware.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/lascom.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/academind.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/icon.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/tevv.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/academind.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/telkom.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/mutilsoft.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/sk.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/telkom.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/lascom.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/indonet.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/boardware.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/lascom.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/academind.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/icon.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/tevv.svg" alt="">
                </div>
                <div class="w-full">
                    <img src="/assets/images/layout-info/our-partner/academind.svg" alt="">
                </div>
            </div>
            <div class="bg-[url('/assets/images/layout-info/our-partner/background.png')] bg-cover bg-no-repeat py-10 relative -bottom-24 sm:-bottom-32 -mb-40 ">
                <h1 class="text-center font-semibold text-2xl sm:text-3xl mt-6">Find out more about INMERGERS and our services</h1>
                <div class="flex justify-center">
                    <button class="py-2 px-10 text-lg text-white bg-red-700 mt-3">Contact us</button>
                </div>
            </div>
        </div>
    </div>
</section>