/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Noto+Sans+SC:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
@root-entry-name: default;
@import "ng-zorro-antd/style/entry";
@import "ng-zorro-antd/select/style/entry";
@import "ng-zorro-antd/tabs/style/entry";
@import "ng-zorro-antd/radio/style/entry";
@import "ng-zorro-antd/slider/style/entry";
@import "ng-zorro-antd/switch/style/entry";
@import "ng-zorro-antd/form/style/entry";
@import "ng-zorro-antd/checkbox/style/entry";

@import "ng-zorro-antd/dropdown/style/entry";

@import "src/app/directive/shared.directive";

@font-size-base: 1rem;
@primary-color: #ED5050;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/font/ProximaNova-Extrabld.eot');
  src: url('assets/font/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
  url('assets/font/ProximaNova-Extrabld.woff') format('woff'),
  url('assets/font/ProximaNova-Extrabld.ttf') format('truetype'),
  url('assets/font/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/font/ProximaNova-Bold.eot');
  src: url('assets/font/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/font/ProximaNova-Bold.woff') format('woff'),
  url('assets/font/ProximaNova-Bold.ttf') format('truetype'),
  url('assets/font/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('assets/font/ProximaNova-Regular.eot');
  src: url('assets/font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('assets/font/ProximaNova-Regular.woff') format('woff'),
  url('assets/font/ProximaNova-Regular.ttf') format('truetype'),
  url('assets/font/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
::selection {
  background-color: #3390ff;
  @apply text-white;
}
body {
  font-family: 'Proxima Nova', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
  Helvetica Neue, sans-serif;;
  @apply h-auto;

  &.vn {
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
  }
  &.jp {
    font-family: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
  }
  &.zh {
    font-family: 'Noto Sans SC', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans,
    Helvetica Neue, sans-serif;
  }
}

.clear-select.ant-select {
@apply border-b text-gray-400;

  .ant-select-selection-placeholder { @apply text-gray-400; }
  &:not(.ant-select-customize-input) .ant-select-selector {
  @apply bg-blue-200 border-none pl-3;

    @media (max-width: 767px) {
    @apply h-10;

      .ant-select-selection-search-input { @apply h-10; }
      .ant-select-selection-placeholder,
      .ant-select-selection-item{ @apply leading-10; }
    }
  }
}

.slick {
  &-arrow-center {
    .slick-prev,
    .slick-next {
      &:before { @apply font-black bg-blue-900 bg-opacity-70 ~"p-2.5" rounded-full text-2xl text-white; }
    }
    .slick-prev { @apply left-3; }
    .slick-next { @apply right-9; }
  }
  &-arrow-white {
    .slick-prev,
    .slick-next {
    @apply z-10 transition-all duration-500 static inline-block px-2 py-1 bg-blue-200 w-auto h-auto rounded-lg mx-1 transform-none;
      &:before { @apply font-black text-2xl text-red-700; }
    }
  }

  &-prev:before {
    font-family: "Line Awesome Free";
    content: "\f104";
  }
  &-next:before {
    font-family: "Line Awesome Free";
    content: "\f105";
  }
}
.ant {
  &-radio, &-checkbox {
  @apply top-0;

    & + span { @apply pl-3; }
    &-wrapper { @apply flex items-start; }
    &-inner { @apply h-5 w-5 border-gray-300; }
  }
  &-radio {
    & + span { @apply leading-tight; }
    &:hover .ant-radio-inner { @apply border-red-500; }
    &-checked .ant-radio-inner {
    @apply border-red-500;

      &:after { @apply bg-red-500;  }
    }
    &-group.radio-two-level {
      .ant-radio-disabled {
        @apply hidden;
        + span { @apply pl-0; }
      }
    }
  }
  &-checkbox {
    &:hover .ant-checkbox-inner { @apply border-red-500; }
    &-inner {
    @apply rounded;
      &:after { @apply w-2 ~"h-3.5"; }
    }
    &-checked {
      &:after { @apply border-red-500 rounded; }
      .ant-checkbox-inner { @apply border-red-500 bg-red-500; }
    }
  }
  &-switch {
    @apply bg-blue-200;

    &-checked { @apply bg-red-500; }
  }
  &-dropdown{
    &.right:after {
    @apply right-4 left-auto;
    }
    &:after{
      content: '';
      box-shadow: -2px -2px 5px #0000000f;
    @apply  left-4 -top-1 border-white from-white absolute border-solid transform rotate-45 block -z-10 h-1 w-1 border-4;
    }
  }
  &-slider {
    &:hover {
      .ant-slider-handle:not(.ant-tooltip-open) { @apply border-red-400; }
      .ant-slider-track { @apply bg-red-400; }
    }
    &-track { @apply bg-red-400; }
    &-handle {
    @apply bg-red-400 border-red-500;

      &:focus { @apply bg-red-400 border-red-400;   }
    }
  }
  &-select{
    &-item-option-content {
      @apply whitespace-normal;
    }

    &-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
      @apply border-blue-300 shadow-none;
    }
    &:not(.ant-select-disabled):hover .ant-select-selector{
      &:hover{@apply border-blue-300;}
    }
    &-single:not(.ant-select-customize-input) .ant-select-selector {
      @apply h-11 rounded border-blue-300;

        &:focus{@apply border-none shadow-none;}

      .ant-select-selection-search-input { @apply h-11; }
      .ant-select-selection-placeholder,
      .ant-select-selection-item { @apply leading-10; }
    }
    &-dropdown,
    &-item,
    &-item-empty { @apply m-0 min-h-0; }
    &-item{
      &-option{
        &-selected:not(.ant-select-item-option-disabled){
          @apply bg-blue-100 font-thin;
        }
        &-content{
          @apply text-blue-800;
        }
        &.w-img{
          &-content{
            @apply flex;
          }
        }
      }
    }
    &-multiple .ant-select-selection {
      &-search { @apply ~'my-0.5' h-7;}
      &-item,
      &-search-input { @apply h-auto leading-7 mb-0; }
    }
  }
  &-tabs {
    &-tab {
    @apply font-bold text-gray-400;
      &.ant-tabs-tab-active .ant-tabs-tab-btn { @apply text-red-600; }
      &:hover { @apply text-gray-400; }
      &-btn:active { @apply text-gray-400; }
    }
    &-ink-bar { @apply bg-red-600; }
    &-top>.ant-tabs-nav::before { @apply border-gray-200; }
  }
  &-form-item {
    @apply mb-0;
    .ant-select, .ant-form-item .ant-cascader-picker {
      &.set-w-select{
        @apply w-28 border-r border-gray-200 rounded-none;
      }
    }
    &-label {
      @apply pb-0;
      > label { @apply text-xs; }
    }
    &-control{
      &.add-boder{@apply border border-blue-300 rounded-md;}
    }
    &.stacked-label {
      @apply relative;
      .ant-form-item-label {
        @apply pb-0;
        @media (min-width: 766px) {
          z-index: 1;
          @apply absolute left-3 bg-white px-2 ~'-top-3.5';
          &.rmrequired{
            & label{
              &:before {content:none;}
            }
          }
        }

        & label {
          @apply text-xs text-blue-800 h-auto inline-block;
          &:before { @apply mr-0 ml-1 mb-1 text-xs; }
          &:after { content: none; }

          &.@{form-item-prefix-cls}-required:not(.@{form-item-prefix-cls}-required-mark-optional):after {
            @apply text-base leading-none inline-block ml-1 text-red-500;
            content: '*';
          }

          &:before {
            content: none;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px){
  .truncate-2{
       display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    overflow: hidden;
  }
  .truncate-3{
    display: -webkit-box;
   -webkit-line-clamp: 3;
   -webkit-box-orient: vertical;
 overflow: hidden;
}
}
@media only screen and (max-width: 640px){
.ant-select-item-option-content{
  @apply overflow-visible whitespace-normal;
}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait){
  .ant-select-multiple .ant-select-selection-item-content{
  @apply whitespace-pre-line;
  }
}

